@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

nav {
    font-size: 18px;
    .navbar-nav {
        .nav-item {
            padding: 0 25px;
        }
    }
}