@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box !important;
}

img {
    max-width: 100%;
    max-height: 100%;
}

nav {
    font-size: 18px;
    .navbar-nav {
        .nav-item {
            padding: 0 10px;
        }
    }
}

.banner {
    background: url('../images/banner.jpg');
    color: #fff;
    &-content {
        padding: 200px 5px;
        &-title {
            font-weight: bold;
            font-size: 40px;
            padding: 25px 0;
            margin: 0;
        }
        &-paragraph {
            font-size: 20px;
            padding: 25px 0;
        }
        &-button {
            background-color: #4DCEFD;
            border-radius: 30px;
            padding: 15px 25px;
        }
        &-button:hover {
            background-color: rgb(72, 186, 228);
        }
    }
}

.introduce {
    background: #EEF2F6;
    .row {
        padding-bottom: 100px;
    }
    &-title {
        padding: 85px 0;
        font-weight: bold;
        color: #3E3E94;
    }
    &-content {
        background: #fff;
        border-radius: 15px;
        box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
        &-icon {
            padding: 40px 0;
        }
        &-title {
            font-weight: bold;
            margin: 0;
            padding-bottom: 15px;
        }
        &-paragraph {
            line-height: 28px;
        }
    }
    &-content:hover {
        background-size: cover;
        color: #fff;
        background-position: center top;
    }
    &-content-career {
        padding: 20px 30px 150px 30px;
    }
    &-content-earnings {
        padding: 20px 30px 95px 30px;
    }
    &-content-life {
        padding: 20px 30px 150px 30px;
    }
    &-content-career:hover {
        background-image: url('../images/teamwork1.jpg');
    }
    &-content-earnings:hover {
        background-image: url('../images/teamwork2.jpg');
    }
    &-content-life:hover {
        background-image: url('../images/teamwork3.jpg');
    }
}

.experience {
    background: url('../images/experience-banner.jpg');
    .row {
        padding-bottom: 60px;
    }
    &-title {
        padding: 50px 0;
        font-weight: bold;
        color: #fff;
    }
    &-content {
        padding: 0;
        &-images {
            border-radius: 15px;
            &-image {
                margin: 15px 10px;
                border-radius: 50px;
            }
        }
    }
}

@media (max-width: 576px) {
    .experience {
        &-column-2 {
            display: none;
        }
        &-column-3 {
            display: none;
        }
    }
}

@media (min-width: 768px) {
    .experience {
        &-column-2 {
            display: block;
        }
        &-column-3 {
            display: block;
        }
    }
}